:root {
    --main-color: #ff0000;
    --secondary-color: #ffffff;
    --gray-one: #3D3D3D;
    --gray-two: #737373;
    --gray-three: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Falster;
    font-size: 14pt;
}

@font-face {
    font-family: "Falster";
    src: url(./font/BC\ Falster\ Grotesk\ Bold.OTF);
    src: url(./font/BC\ Falster\ Grotesk\ Bold\ Italic.OTF);
    src: url(./font/BC\ Falster\ Grotesk\ Italic.OTF);
    src: url(./font/BC\ Falster\ Grotesk\ Light.OTF);
    src: url(./font/BC\ Falster\ Grotesk\ Light\ Italic.OTF);
    src: url(./font/BC\ Falster\ Grotesk\ Regular.OTF);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.link {
    text-decoration: underline;
    text-transform: lowercase;
}

p {
    color: var(--gray-two);
    font-size: 1rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--secondary-color);
}

h1 {
    font-size: 2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 700;
}

h4 {
    text-transform: uppercase;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

h6 {
    color: var(--gray-two);
}

.shadow {
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.50), 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.uppercase {
    text-transform: uppercase;
}

hr {
    border-bottom: 3px solid var(--gray-two);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

/* layout */
body {
    align-items: center;
    background-color: var(--main-color);
    min-height: -webkit-fill-available;
    width: 320px;
    margin: auto;
}

header {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    margin-bottom: 3rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 70px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 50px;
}

/* index buttons */
.btn-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    min-height: 50px;
    font-weight: 700;
    color: var(--main-color);
    border-radius: 10px;
    box-sizing: content-box;
    cursor: pointer;
    border: none;
}

.btn-1 i {
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--secondary-color);
    height: 30px;
    width: 30px;
    border-radius: 7px;
    cursor: pointer;
}

.horizzontal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 60px;
    margin: 10px 0;
}

.horizzontal-container .btn-1 {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.horizzontal-container .btn-1 i {
    width: 100%;
    left: 0;
    position: relative;
}

.btn-2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    height: 50px;
    color: var(--secondary-color);
    border-radius: 10px;
    box-sizing: content-box;
    font-weight: 700;
    padding: 0 20px;
    width: 280px;
}

.btn-3 {
    color: var(--secondary-color);
    font-weight: 700;
    padding: 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--gray-two);
    width: 320px;
}

/* group buttons */
.list a h4 {
    text-transform: lowercase;
    margin-bottom: 10px;
}

.news-list a h4 {
    padding: 10px;
    box-sizing: border-box;
    text-transform: lowercase;
    margin-bottom: 10px;
}

/* news buttons */
.news-list {
    margin-bottom: 10px;
    text-transform: lowercase;
}

/* loader */
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    z-index: 9999;
}

.loader {
    border: 10px solid var(--secondary-color);
    border-top: 10px solid red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hidden {
    display: none;
}

/* SPOT FORM */
form {
    display: flex;
    flex-direction: column;
}

textarea {
    margin-top: 20px;
    padding: 1rem 1rem;
    height: 100px;
    max-width: 320px;
    resize: none;
    border: 1px solid white;
    border-radius: 10px 10px 0 0;
    font-weight: 700;
    font-size: 16px;
    color: var(--gray-two);
}

textarea::placeholder {
    font-weight: 300;
}

textarea:focus {
    outline: none;
}

button[type="submit"] {
    background-color: white;
    color: red;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0 0 10px 10px;
}

/* Spot post */
.post {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.meta {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.like-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.like-button {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.like-count {
    font-size: 16px; 
    font-weight: 700;
}

.timestamp {
    font-size: 14px;
    font-weight: 300;
}

/* CALENDAR */
.calendar {
    background-color: var(--secondary-color);
    width: 100%;
}

.calendar main {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
}

.calendar header {
    padding-top: 100px;
    background-color: var(--main-color);
    margin: auto;
    display: flex;
    align-items: center;
}

header h4 {
    text-align: center;
}

.header-info {
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 20px 0;
}

.header-info h4 {
    color: var(--secondary-color);
}

.calendar .button {
    width: 320px;
}

/* calendar layout */
.day-container {
    box-sizing: border-box;
    position: relative;
    background-color: var(--gray-three);
    padding: 15px;
    width: 320px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#days-container:first-of-type {
    margin-top: 20px;
}

.day-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
}

.day-element {
    display: flex;
    height: 40px;
}

.day-lesson {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 0 10px;
    text-transform: lowercase;
    border-radius: 10px 0 0 10px;
    font-size: 1rem;
    font-weight: 700;
}

.week-lesson {
    background-color: var(--secondary-color);
    color: var(--gray-two);
    display: flex;
    padding: 0 10px;
    align-items: center;
    border-width: 3px 3px 3px 0;
    border-style: solid;
    border-color: var(--gray-two);
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
    font-weight: 700;
}

.lesson-container {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border: 3px solid var(--gray-two);
    border-radius: 10px;
    height: 50px;
    gap: 10px;
    font-weight: 700;
}

.lesson-name {
    color: var(--gray-one);
    text-align: left;
    line-height: 0.9;
}

.lesson-place {
    color: var(--gray-two);
    text-transform: uppercase;
    text-align: left;
    font-size: 0.75rem;
}

.lesson-time {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    text-align: left;
    font-size: 1rem;
    background-color: var(--gray-two);
    padding: 0 10px;
    height: 50px;
    border-radius: 5px 0 0 5px;
}

/* add lesson */
.add-lesson-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lesson-info-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-info {
    position: relative;
    display: flex;
    align-items: center;
    width: 290px;
}

.header-info a {
    position: absolute;
    right: 0;
    font-size: 24px;
    color: white;
}

.delete-day-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    width: 320px;
}

.delete-day-container a:last-of-type {
    margin-top: 50px;
}

.remove-button {
    margin: 15px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    right: 10px;
}

input[type="text"],
input[type="password"] {
    width: 320px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid var(--gray-two);
}

.lesson-time-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between margin
}

.morning-lesson-container,
.evening-lesson-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%
}

.lesson-time-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    border: 3px solid var(--gray-two);
    border-radius: 10px;
    width: 100%;
    color: var(--gray-two);
    font-weight: 700;
    cursor: pointer;
}

.lesson-time-selector:active,
.button-selection:active,
.frequency-selector:active {
    border: 4px solid var(--gray-two);
}

.lesson-time-selector input {
    position: absolute;
    height: 40px;
    width: 100%;
    opacity: 0
}

input[type=radio]:checked~div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: var(--secondary-color);
    border-radius: 4px;
    border: 3px solid red;
}

.frequency-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px
}

.frequency-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    border: 3px solid var(--gray-two);
    border-radius: 10px;
    width: calc(100% - 40px);
    color: var(--gray-two);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
}

.frequency-selector input {
    position: absolute;
    height: 40px;
    width: 100%;
    opacity: 0;
}

input[type=radio]:checked~div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: var(--secondary-color);
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    border-radius: 4px;
    border: 3px solid red;
}

.disabled {
    background-color: var(--gray-two);
    border: 3px solid var(--gray-two);
    color: var(--secondary-color);
    pointer-events: none;
}

.lesson-info-input {
    margin-top: 20px;
}

input[type=text],
input[type="password"] {
    font-weight: 700;
    color: var(--gray-two);
}

input[type=text]:focus,
input[type="password"]:focus {
    outline: 1px solid var(--gray-one);
}

/* ADD DAY */
.add-day-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.day-selector {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-selection {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 320px;
    height: 50px;
    border: 3px solid var(--gray-two);
    border-radius: 10px;
}

.button-selection div {
    color: var(--gray-two);
    font-weight: 700;
    font-size: 18px;
}

.button-selection input {
    position: absolute;
    width: 320px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked~div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: var(--secondary-color);
    width: 308px;
    height: 38px;
    border-radius: 7px;
}

#settings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* LOGIN & REGISTRATION */
.login-form,
.register-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* POST CONTAINER */
#post-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.message {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 1.2;
}

/* ONBOARDING */
.onboarding {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background-color: var(--secondary-color);
    font-family: Arial, sans-serif;
}

.slides {
    position: relative;
    width: 100%;
    height: 100%;
}

.slides img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 1080px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    transform: translate(-50%, -50%);
  }  

.slides img:first-child {
    opacity: 1;
}