*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.back-button {
    position: absolute;
    top: 25px;
    left: 25px;
    transform: rotate(180deg);
    color: white;
    font-size: 32px;
    padding: 10px 25px;
    background-color: white;
    border-radius: 10px;
    line-height: 1;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.long {
    background-color: red;
    display: flex;
    align-items: center;
    background-color: red;
    margin-top: 125px;

    min-height: none;
    min-height: none;
}

.long div:first-child {
    margin-bottom: 100px;
}

html {
height: -webkit-fill-available;
}

.header, .description {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

ul h1 {
    margin-top: 50px;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.header {
    padding: 10px;
    border-radius: 10px;
}

.description {
    font-size: 24px;
}

.header img {
    height: 90px
}

.header h1 {
    margin-left: 20px;
    font-size: 30px;
    color: white;
}
  
.box div {
    text-align: center;
    color: white;
    width: 300px;
}

ul{
    list-style-type: none;
}

ul h1 {
    margin-bottom: 20px;
}

li {
    text-decoration: none;
    text-align: center;
    border: none;
    color: red;
    background-color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
    border: 2px solid white;
}

.footer {
    height: 50px;
    margin-top: -50px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

a:link, a:visited {
    color: red;
    text-decoration: none;
}

.mail:link {
    color: white;
    font-size: 12px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
}


.attention-button {
    background-color: #737373;
    text-align: center;
    margin-top: 50px;
}
    
.attention-button a {
    color: white;
}